#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  background-color: white;
  height: 932px;
  width: 430px;
}
.app{
  background-color: white;
  
  
}

/* NAV BAR STYLING  */

.bg-body-tertiary {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #5cccf1;
  width: 430px;
  height: 100px;
  border-bottom: 8px solid black;
}



/* HOME PAGE STYLE */
.home-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: black;
  border: solid black 3px;
  height: 932px;
  width: 430px;  
}

.upper-row{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: auto;
  border: solid black 3px;

}

.lower-row{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: auto;
  border: solid black 3px;
}

.cont-1 , .cont-2, .cont-3, .cont-4, .cont-5 {
  border: solid black 3px;
}

.cont-1{
  
}






/* LOGIN SCREEN */
.Auth-form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
}


.Auth-form {
  width: 420px;
  box-shadow: rgb(0 0 0 / 16%) 1px 1px 10px;
  padding: 30px 20px 20px 25px;
  border-radius: 8px;
  background-color: white;
}



.Auth-form-title {
  text-align: center;
  margin-bottom: 1em;
  font-size: 24px;
  color: rgb(34, 34, 34);
  font-weight: 800;
}

label {
  font-size: 14px;
  font-weight: 600;
  color: rgb(34, 34, 34);
}