#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  background-color: #052630;
  height: 932px;
  width: 430px;
}
.app{
  background-color: #4d7273;
  color: white;

}

/* NAV BAR STYLING  */

.bg-body-tertiary{
  background-color: #4d7273;
  color: white;
}

.nav-bar-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #4d7273;
  color: white;
}

.nav-brand{
  color: white;
}



#nav-logo{
  height: 50px;
  width: 50px;
  margin: 10px;
  border-radius: 50%;
}


/* HOME PAGE STYLE */
.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem 1rem;
}

.home-header {
  margin-bottom: 2rem;
  text-align: center;
}

.home-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 600px;
}

.table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 1rem;
  margin-top: 1rem;
}

.table th,
.table td {
  padding: 0.5rem;
  text-align: left;
  vertical-align: top;
  border-top: 1px solid #dee2e6;
}

.table th {
  font-weight: 500;
}

@media (min-width: 576px) {
  .home-container {
    padding: 0 2rem;
  }

  .home-body {
    flex-direction: row;
    justify-content: space-between;
  }

  .new-task-button,
  .view-task-button {
    width: auto;
    margin-bottom: 0;
  }

  .table {
    width: auto;
    margin-bottom: 0;
  }
}

.table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 1rem;
}

.table th,
.table td {
  padding: 0.5rem;
  text-align: left;
  vertical-align: top;
  border-top: 1px solid #dee2e6;
}

.table th {
  font-weight: 500;
}

@media (min-width: 576px) {
  .home-container {
    padding: 0 2rem;
  }

  .home-body {
    flex-direction: row;
    justify-content: space-between;
  }

  .new-task-button,
  .view-task-button {
    width: auto;
    margin-bottom: 0;
  }

  .table {
    width: auto;
    margin-bottom: 0;
  }
}


/* LOGIN SCREEN */
.Auth-form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #052630;
  color: white;
}


.Auth-form {
  width: 420px;
  box-shadow: rgb(0 0 0 / 16%) 1px 1px 10px;
  padding: 30px 20px 20px 25px;
  border-radius: 8px;
  background-color: #86b9b0;
  box-shadow: 0 3px 6px rgba(249, 248, 248, 0.3), 0 3px 6px rgba(249, 249, 249, 0.3);
}



.Auth-form-title {
  text-align: center;
  margin-bottom: 1em;
  font-size: 24px;
  color: rgb(34, 34, 34);
  font-weight: 800;
}

label {
  font-size: 14px;
  font-weight: 600;
  color: rgb(34, 34, 34);
}

.btn{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50px;
  background-color: #d0d6d6;
  border: none;
  border-radius: 0.25rem;
  color: #fff;
  font-size: 1rem;
  font-weight: bolder;
  text-align: center;
  cursor: pointer;
  
}

.btn:hover{
  background-color: #4d7273;
}

#login-logo{
  height:40%;
  width:40%;
  margin: 10px;
  border-radius: 50%;
  
}

/* TASK STYLING */
.mb-3, .taskDetail{
  display:flex;
  align-content: center;
  flex-direction: column;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.Button{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50px;
  background-color: #d0d6d6;
  border: none;
  border-radius: 0.25rem;
  color: #fff;
  font-size: 1rem;
  font-weight: bolder;
  text-align: center;
  cursor: pointer;
  margin: 10px;
}

.Button:hover{
  background-color: #86b9b0;
}


.task-detail-button{
 display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50px;
  background-color: #5cccf1;
  border: none;
  border-radius: 0.25rem;
  color: #fff;
  font-size: 1rem;
  font-weight: bolder;
  text-align: center;
  cursor: pointer;
  
}
.task-card-content{
  display: flex;
  justify-content: center;
  align-items: center;
  
}


