#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
.App{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  color: black;
}

/* NAV BAR STYLING  */
.nav-bar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
  background-color: #5cccf1;
  color: #fff;
  width: 90vw;
  height: 20vh;
}

.logo {
  display: flex;
  font-size: 24px;
  height: 5vh;
  width: 5vw;
}

#logo{
  height: 100px;
  width: 100px;
  border-radius: 50%;
}

.menu {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background-color: #333;
  color: #fff;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 0.3s ease;
}

.menu.show {
  opacity: 1;
  visibility: visible;
  color: black;
}

.menu a {
  padding: 10px;
  text-align: center;
  color: black;
}

.hamburger {
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 20px;
  cursor: pointer;
}

.hamburger .line {
  width: 100%;
  height: 2px;
  background-color: #fff;
  transition: transform 0.3s ease;
}

.hamburger .line:nth-child(2) {
  transform-origin: center;
}

.hamburger.show .line:nth-child(1) {
  transform: translateY(8px) rotate(45deg);
}

.hamburger.show .line:nth-child(2) {
  transform: scaleX(0);
}

.hamburger.show .line:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg);
}

@media (max-width: 1000px) {
  .menu {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: #333;
    color: #fff;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;
  }

  .menu.show {
    opacity: 1;
    visibility: visible;
  }

  .menu a {
    display: block;
    padding: 10px;
    text-align: center;
  }

  .hamburger {
    display: flex;
  }

  nav {
    justify-content: center;
  }

}

/* HOME PAGE STYLE */
.Home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  color: black;
}

#navP{
  color: black;
  font-size: 40px;
}